{
    "general":{
        "base_dir":"/home/stealth/programming/spearmint",
        "cache_type":"filesystem",
        "hostname":"something.cc"
    },

    "email":{
        "from":"email@something.cc"
    },

    "database":{
        "uri":"sqlite:////home/stealth/programming/spearmint/user_data.db",
        "ccp_dump":"sqlite:////home/stealth/programming/spearmint/sqlite-latest.sqlite",
        "pi_db":"sqlite:////home/stealth/programming/spearmint/pi.db"
    },

    "corp_api":{
        "code":"long_string_here",
        "key":"numbers_here"
    }
}
         
