{% include 'header.html' %}
{% include 'datatables.html' %}

<script type="text/javascript">
$(document).ready( function() {
      $('#table').dataTable( { "iDisplayLength":100, "order": [[ 0, "desc" ]] } ); } )
</script>

<div class="container-fluid">

<div class="row">
    <div class="col-md-12">
        <h4><font face='monospace'>{{ ship_name }}<br><small> typeID: {{ ship_id }}</small></h4></font><br>
            {# We just need one "date" #}
            <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="table">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th class="text-right">Character</th>
                        <th class="text-right">Kill ID</th>
                    </tr>
                        
                </thead>
                <tbody>

                {% for row in data %}
                    <tr>
                        {# key is the price, the value is the item name #}
                        {% set character = row['characterID']|character_name_from_id %}
                        <td> {{ row['killTime'] }}        </td>
                        <td> <a href="{{ url_for('statistics_ship_losses', character=character) }}">{{ character }}</a>  </td>
                        <td> <a href="https://zkillboard.com/kill/{{ row['killID'] }}">{{ row['killID'] }}</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
