{% include 'header.html' %}

<div class="row">
    <div class="col-md-4">
        <div class="col-xs-12">
            <img src="https://image.eveonline.com/Corporation/98301190_128.png">
            <h3>Todo:</h3>
            <li>Working email</li>
            <li>"Doctrine skill watcher"</li>
            <li>Tool to show the most profitable PI material you can make within a specific system</li>
            <li>Tool that shows the amount of PI material sold and its total value</li>
        </div>
    </div>
</div>
