<h1>PI stats</h1>


<style> 
.output
{
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3; /* Firefox */
    column-count:3;
}
</style>

<code>System: {{ system.capitalize() }} 
<br>
Tier: {{ tier }} 
</code>
<br>
<br>
<br>

    
{% for key in keys %}

<div class='output'>
<code>{{ items[key][0].lower() }}<br>{{ key }}</code>
</div>

{% endfor %}
