{% include 'header.html' %}

<div class="container-fluid">
<div class="row">
    <div class="col-md-8">
        <div class="col-xs-9">
            <h4>PI stats</h4>
        </div>
        
        <div class="col-xs-9">
            System: {{ system.capitalize() }} 
            <br>
            Tier: {{ tier }} 
        </div>
    </div>
</div>



<br>

<div class="row">
    <div class="col-md-8">
            <table class="table table-striped">
                <th>Item</th>
                <th>Highest buy order</th>

                {% for key in keys %}

                <tr>
                <td>{{ items[key][0].lower() }}</td> 
                <td>{{ key }}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>
