{% include 'header.html' %}

<div class="container-fluid">

<div class="row">
    <div class="col-md-8">
            {% for r in results.keys() %}
            <h1>{{ r }}</h1>
            {# We just need one "date" #}
            <h5>Cached at: {{ results[r][0].date }}</h5>
            <table class="table table-striped">
                <th>Item</th>
                <th>Highest buy order</th>

                {% for item in results[r] %}
      
                <tr>
                {# key is the price, the value is the item name #}
                <td>{{ item.item }} </td>
                <td>{{ '%.2f' % item.price }} </td>
                </tr>

                {% endfor %}
            </table>
            {% endfor %}
        </div>
    </div>
</div>
</div>
