{% include 'header.html' %}
{% include 'datatables.html' %}

<script type="text/javascript">
$(document).ready( function() {
      $('#table').dataTable( { "bPaginate": false } ); } )
</script>

<div class="container-fluid">

<div class="row">
    <div class="col-md-4">
            {# We just need one "date" #}
            <table class="display" id="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th class="text-right">Highest buy order</th>
                    </tr>
                </thead>
                <tbody>
                {% for r in results.keys() %}
                    {% for item in results[r] %}
      
                    <tr>
                        {# key is the price, the value is the item name #}
                        <td><font face="monospace">                    {{ item.item }} </td>
                        <td class="text-right"><font face="monospace"> {{ '%.2f' % item.price }} </td>
                    </tr>

                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
