{% include 'header.html' %}

<div class="row">
    <div class="col-md-4">
        <div class="col-xs-12">
            <a href="/corp/standings">Standings</a>
            <br>
            <a href="/corp/wallet_transactions">Wallet transactions</a>
            <br>
            <a href="/corp/contracts">Contracts</a>
        </div>
        <iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~mujahideen.solutions/28/.embed?width=800&height=600"></iframe>
    </div>
</div>
