{% include 'header.html' %}

<div class="row">
    <div class="col-md-4">
        <div class="col-xs-12">
            <div class="well">
                <h3>Corporation Index</h3>
                <a href="/corp/contracts">Contracts</a>
                <br>
                <a href="/corp/wallet_transactions">Transactions</a>
                <br>
                <a href="/corp/statistics/ships_lost">Ship Loss Statistics</a>
                <br>
                <a href="/corp/statistics/items_lost">Item Loss Statistics</a>
                <br>
            </div>
            
            <br>
            <br>
            {% include 'corp/news.html' %}
        </div>
    </div>
</div>
