{% include 'header.html' %}
{% include 'datatables.html' %}

<script type="text/javascript">
$(document).ready( function() {
      $('#table').dataTable( { "bPaginate": false } ); } )
</script>

<div class="container-fluid">

<div class="row">
    <div class="col-md-3">
            {# We just need one "date" #}
            <table class="display" width="100%" id="table">
                <thead>
                    <tr>
                        <th>Faction</th>
                        <th class="text-right">Standing</th>
                    </tr>
                        
                </thead>
                <tbody>
                {% for r in standings[0]['factions'].values() %}
                    <tr>
                        {# key is the price, the value is the item name #}
                        <td class="text-left">{{ r['name'] }}</td>
                        <td class="text-right">{{ '%.2f' % (r['standing']) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
